<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270361842704-d82r582sbgc11n734de66ilk65odqdia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270361842704-d82r582sbgc11n734de66ilk65odqdia</string>
	<key>API_KEY</key>
	<string>AIzaSyBM3ormR6Pff9GgOV45PxdDOAV6EAONvZc</string>
	<key>GCM_SENDER_ID</key>
	<string>270361842704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskPlannerApp</string>
	<key>PROJECT_ID</key>
	<string>task-planner-184</string>
	<key>STORAGE_BUCKET</key>
	<string>task-planner-184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270361842704:ios:84916e3dd1ec786ee8a695</string>
</dict>
</plist>